<%- include('../partials/adminNavbar.ejs'); %>

<ul class="uk-breadcrumb uk-margin-large-left">
  <li>
    <a href="/admin/customers" class="active uk-button uk-button-text noSelect"
      >Customers</a
    >
  </li>
  <li>
    <a href="/admin/business" class="active uk-button uk-button-text noSelect"
      >Business Members</a
    >
  </li>
  <li>
    <a href="/admincreate" class="active uk-button uk-button-text noSelect"
      >Create</a
    >
  </li>
  <li>
    <a
      href="/admin/allpayments"
      class="active uk-button uk-button-text noSelect"
      >All Payments</a
    >
  </li>
  <li>
    <a
      href="/admin/allvouchers"
      class="active uk-button uk-button-text noSelect"
      >All Vouchers</a
    >
  </li>
  <li>
    <a
      href="/users/logout"
      class="uk-button active uk-button-text noSelect"
      uk-toggle="target: #userslogout"
      ><span class="noSelect"></span>Logout</a
    >
  </li>
</ul>

<!-- all customes who bought offers -->
<div
  class="
    uk-section uk-section-muted uk-section-statistics uk-section-large
    borderBottom
  "
>
  <div class="uk-container">
    <%- include('../partials/errors.ejs'); %>
    <h4 class="uk-text-uppercase uk-text-center uk-margin-top-large tagline1">
      Customers purchases
    </h4>
    <p class="uk-text-meta uk-text-center uk-text-medium">
      Details of customers who purchased offers is displayed here.
    </p>
    <hr class="uk-divider-icon" />
    <div class="uk-overflow-auto">
      <table
        class="
          uk-table
          uk-table-striped
          uk-table-hover
          uk-table-middle
          uk-table-divider
        "
      >
        <thead>
          <tr>
            <th class="uk-width-small">Name of customer</th>
            <th class="uk-width-small">Name of place</th>
            <th>Offer Name</th>
            <th>Amount</th>
            <th>Voucher code</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% if(allVouchers.length > 0) { %> <%
          allVouchers.forEach((allVoucher)=> { %> <% if(allVoucher.post != null)
          { %>
          <tr>
            <td><%- allVoucher.user.name %></td>
            <td><%- allVoucher.post.name %></td>
            <td><%- allVoucher.offer.offername %></td>
            <td><%- allVoucher.offer.offeramount %></td>
            <td><%- allVoucher.vouchercode %></td>
            <td>
              <%- helper.formatDate(allVoucher.createdAt, 'MMMM Do YYYY') %>
            </td>
          </tr>
          <% } else { %>
          <p class="uk-text-center uk-text-large info-text uk-text-warning">
            No Payments
          </p>
          <% } %> <% }) %> <% } else { %>

          <p class="uk-text-center uk-text-large info-text uk-text-warning">
            No Payments
          </p>

          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
