<%- include('../partials/adminNavbar.ejs'); %>

<ul class="uk-breadcrumb uk-margin-large-left">
  <li>
    <a href="/admin" class="uk-button uk-button-text noSelect"
      >Back to dashboard</a
    >
  </li>
  <li>
    <a href="/admin/members" class="active uk-button uk-button-text noSelect"
      >Business Members</a
    >
  </li>
</ul>

<!-- USERS AND DETAILS -->
<div
  class="
    uk-section uk-section-muted uk-section-statistics uk-section-large
    borderBottom
  "
>
  <div class="uk-container">
    <h4 class="uk-text-uppercase uk-text-center uk-margin-top-large tagline1">
      All Business Members
    </h4>
    <hr class="uk-divider-icon" />
    <div class="uk-overflow-auto">
      <table
        class="
          uk-table
          uk-table-striped
          uk-table-hover
          uk-table-middle
          uk-table-divider
        "
      >
        <thead>
          <tr>
            <th class="uk-width-small">Name</th>
            <th>Email</th>
            <th>Joined</th>
          </tr>
        </thead>
        <tbody>
          <% if(businessMembers.length > 0) { %> <%
          businessMembers.forEach((businessMember)=> { %>
          <tr>
            <td><%- businessMember.name %></td>
            <td><%- businessMember.email %></td>
            <td>
              <%- helper.formatDate(businessMember.createdAt, 'MMMM Do YYYY')%>
            </td>
            <td>
              <a
                class="uk-button uk-button-text uk-text-primary noSelect"
                href="/admin/members/businessMembers/<%- businessMember._id %>"
                >Details</a
              >
            </td>
          </tr>
          <% }) %> <% } else { %>

          <p class="uk-text-center uk-text-large uk-text-warning">
            No Memberships
          </p>

          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
