<%- include('../partials/adminNavbar.ejs'); %>

<ul class="uk-breadcrumb uk-margin-large-left">
  <li>
    <a href="/admin" class="uk-button uk-button-text noSelect"
      >Back to dashboard</a
    >
  </li>
  <li>
    <a href="/admincreate" class="uk-button uk-button-text noSelect"
      >Create Email Updates</a
    >
  </li>
  <li>
    <a href="/admincreate/pagedetails" class="uk-button uk-button-text noSelect"
      >Create Page Detail</a
    >
  </li>
  <li>
    <a href="/admincreate/entry" class="uk-button uk-button-text noSelect"
      >Create New Entry</a
    >
  </li>
  <li>
    <a href="/admincreate/allentries" class="uk-button uk-button-text noSelect"
      >All Entries</a
    >
  </li>
  <li>
    <a href="/admincreate/myEntries" class="uk-button uk-button-text noSelect"
      >Review Entries</a
    >
  </li>
  <li>
    <a href="/admincreate/myentries" class="uk-button uk-button-text noSelect"
      >My Entries</a
    >
  </li>
</ul>

<div
  class="
    uk-section uk-section-muted uk-section-create-uk-section-large
    borderBottom
  "
>
  <div class="uk-container">
    <%- include('../partials/uploadmess.ejs'); %>
    <div
      class="
        uk-child-width-1-1
        uk-grid-small
        uk-grid-match
        uk-margin-large-top
        uk-margin-large-bottom
      "
      uk-grid
    >
      <div>
        <div class="uk-card uk-card-custom uk-card-hover uk-card-default">
          <%- include('../partials/errors.ejs'); %>
          <div class="uk-card-header">
            <h3 class="uk-card-title uk-text-center">Create Email Updates</h3>
            <p
              class="
                uk-text-primary uk-text-center uk-padding-medium uk-text-break
              "
            >
              Email notifications for all users
            </p>
          </div>
          <div class="uk-card-body">
            <form
              id="emailForm"
              action="/admincreate/emailupdates"
              method="POST"
            >
              <div class="uk-form-stacked">
                <div class="uk-margin-small">
                  <div class="uk-form-control">
                    <input
                      type="text"
                      required
                      name="subject"
                      id="subject"
                      placeholder="Subject"
                      class="uk-input uk-form-large noSelect"
                      value="<%- typeof subject != 'undefined' ? subject: '' %>"
                    />
                  </div>
                  <div class="uk-form-control">
                    <textarea
                      required
                      name="body"
                      id="body"
                      class="uk-textarea"
                    >
<%- typeof body != 'undefined' ? body: '' %></textarea
                    >
                  </div>
                </div>

                <div class="uk-marign-medium uk-text-center">
                  <div class="uk-form-control">
                    <button
                      type="submit"
                      class="uk-button uk-button-custom noSelect"
                    >
                      Send
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="uk-card-footer"></div>
        </div>
      </div>
      <!-- post creation -->
    </div>
  </div>
</div>
