<%- include('../partials/adminNavbar.ejs'); %>

<ul class="uk-breadcrumb uk-margin-large-left">
  <li>
    <a href="/admin" class="uk-button uk-button-text noSelect"
      >Back to dashboard</a
    >
  </li>
</ul>

<div
  class="
    uk-section uk-section-muted uk-section-create-uk-section-large
    borderBottom
  "
>
  <div class="uk-container">
    <div uk-switcher="animation: uk-animation-fade; toggle: > *">
      <button class="uk-button uk-button-custom" type="button">
        Create Email Updates
      </button>
      <button class="uk-button uk-button-custom" type="button">
        Create Entries
      </button>
      <button class="uk-button uk-button-custom" type="button">
        All Entries
      </button>
      <button class="uk-button uk-button-custom" type="button">
        Entries for review
      </button>
    </div>

    <ul class="uk-switcher uk-margin">
      <li><%- include('../partials/createEmail.ejs'); %></li>
      <li><%- include('../partials/createEntry.ejs'); %></li>
      <li><%- include('./allEntries.ejs'); %></li>
      <li><%- include('./reviewEntries.ejs'); %></li>
    </ul>
  </div>
</div>
