<%- include('../partials/adminNavbar.ejs'); %>

<ul class="uk-breadcrumb uk-margin-large-left">
  <li>
    <a
      href="/admincreate/myentries/entry/<%- entry._id %>"
      class="uk-button uk-text-danger uk-text-bold uk-button-text noSelect"
      >Cancel Editing</a
    >
  </li>
  <li>
    <a
      href="/admincreate"
      class="uk-button uk-text-danger uk-text-bold uk-button-text noSelect"
      >Save Changes</a
    >
  </li>
</ul>

<% if(entry.user._id.toString() != user._id.toString()) { %>
<div
  class="
    uk-section uk-section-muted uk-section-statistics uk-section-large
    borderBottom
  "
>
  <div class="uk-container">
    <%- include('../partials/errors.ejs'); %>
    <h4 class="uk-text-uppercase uk-text-center uk-margin-top-large tagline1">
      Images
    </h4>
    <hr class="uk-divider-icon" />
    <div
      class="
        uk-child-width-1-1
        uk-child-width-1-3@s
        uk-grid-small
        uk-margin-large-top
        uk-margin-large-bottom
      "
      uk-grid
    >
      <div>
        <% if(entry.cover != undefined) { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-media-top entryimg">
            <img src="<%- entry.cover %>" alt="cover" />
          </div>
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/edit/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="cover"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button type="submit" class="uk-button uk-button-default">
                  Replace
                </button>
              </div>
            </form>
          </div>
        </div>
        <% } else { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/edit/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="cover"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select cover image"
                    disabled
                  />
                </div>
                <button type="submit" class="uk-button uk-button-default">
                  Add
                </button>
              </div>
            </form>
          </div>
        </div>
        <% } %>
      </div>
      <!-- 2 -->
      <div>
        <% if(entry.image1 != undefined) { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-media-top entryimg">
            <img src="<%- entry.image1 %>" alt="cover" />
          </div>
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/edit/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image1"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Replace</button>
              </div>
            </form>
          </div>
        </div>
        <% } else { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/edit/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image1"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Add</button>
              </div>
            </form>
          </div>
        </div>
        <% } %>
      </div>
      <!-- 3 -->
      <div>
        <% if(entry.image2 != undefined) { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-media-top entryimg">
            <img src="<%- entry.image2 %>" alt="cover" />
          </div>
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/edit/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image2"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Replace</button>
              </div>
            </form>
          </div>
        </div>
        <% } else { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/edit/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image2"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Add</button>
              </div>
            </form>
          </div>
        </div>
        <% } %>
      </div>
      <!-- 4 -->
      <div>
        <% if(entry.image3 != undefined) { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-media-top entryimg">
            <img src="<%- entry.image3 %>" alt="cover" />
          </div>
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/edit/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image3"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Replace</button>
              </div>
            </form>
          </div>
        </div>
        <% } else { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/edit/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image3"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Add</button>
              </div>
            </form>
          </div>
        </div>
        <% } %>
      </div>
      <!-- 5 -->
      <div>
        <% if(entry.image4 != undefined) { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-media-top entryimg">
            <img src="<%- entry.image4 %>" alt="cover" />
          </div>
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/edit/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image4"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Replace</button>
              </div>
            </form>
          </div>
        </div>
        <% } else { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/edit/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image4"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Add</button>
              </div>
            </form>
          </div>
        </div>
        <% } %>
      </div>
      <!-- 6 -->
      <div>
        <% if(entry.image5 != undefined) { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-media-top entryimg">
            <img src="<%- entry.image5 %>" alt="cover" />
          </div>
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/edit/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image5"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Replace</button>
              </div>
            </form>
          </div>
        </div>
        <% } else { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/edit/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image5"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Add</button>
              </div>
            </form>
          </div>
        </div>
        <% } %>
      </div>
      <!-- 7 -->
      <div>
        <% if(entry.image6 != undefined) { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-media-top entryimg">
            <img src="<%- entry.image6 %>" alt="cover" />
          </div>
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/edit/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image6"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Replace</button>
              </div>
            </form>
          </div>
        </div>
        <% } else { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/edit/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image6"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Add</button>
              </div>
            </form>
          </div>
        </div>
        <% } %>
      </div>
      <!-- 8 -->
      <div>
        <% if(entry.image7 != undefined) { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-media-top entryimg">
            <img src="<%- entry.image7 %>" alt="cover" />
          </div>
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/edit/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image7"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Replace</button>
              </div>
            </form>
          </div>
        </div>
        <% } else { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/edit/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image7"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Add</button>
              </div>
            </form>
          </div>
        </div>
        <% } %>
      </div>
      <!-- 9 -->
      <div>
        <% if(entry.image8 != undefined) { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-media-top entryimg">
            <img src="<%- entry.image8 %>" alt="cover" />
          </div>
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/edit/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image8"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Replace</button>
              </div>
            </form>
          </div>
        </div>
        <% } else { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/edit/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image8"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Add</button>
              </div>
            </form>
          </div>
        </div>
        <% } %>
      </div>
      <!-- 10 -->
      <div>
        <% if(entry.image9 != undefined) { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-media-top entryimg">
            <img src="<%- entry.image9 %>" alt="cover" />
          </div>
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/edit/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image9"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Replace</button>
              </div>
            </form>
          </div>
        </div>
        <% } else { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/edit/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image9"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Add</button>
              </div>
            </form>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
<!-- menu -->
<div
  class="
    uk-section uk-section-muted uk-section-statistics uk-section-large
    borderBottom
  "
>
  <div class="uk-container">
    <%- include('../partials/errors.ejs'); %>
    <h4 class="uk-text-uppercase uk-text-center uk-margin-top-large tagline1">
      Menu
    </h4>
    <hr class="uk-divider-icon" />
    <% if(entry.menu != undefined) { %>
    <div class="uk-card uk-card-hover uk-card-default">
      <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
        <a href="<%- entry.menu %>" target="_blank"
          >Your current menu<span> <%- entry.menu %></span></a
        >
        <form
          action="/edit/myentries/entry/editattach/<%- entry._id %>"
          method="POST"
          enctype="multipart/form-data"
        >
          <input type="hidden" name="_method" value="PUT" />
          <div class="uk-margin" uk-margin>
            <div uk-form-custom="target: true">
              <input
                type="file"
                accept="application/pdf"
                name="menu"
                required
              />
              <input
                class="uk-input uk-form-width-medium"
                type="text"
                placeholder="Select file"
                disabled
              />
            </div>
            <button class="uk-button uk-button-default">Replace</button>
          </div>
        </form>
      </div>
    </div>
    <% } else { %>
    <div class="uk-card uk-card-hover uk-card-default">
      <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
        <p>Add One</p>
        <form
          action="/edit/myentries/entry/editattach/<%- entry._id %>"
          method="POST"
          enctype="multipart/form-data"
        >
          <input type="hidden" name="_method" value="PUT" />
          <div class="uk-margin" uk-margin>
            <div uk-form-custom="target: true">
              <input
                type="file"
                accept="application/pdf"
                name="menu"
                required
              />
              <input
                class="uk-input uk-form-width-medium"
                type="text"
                placeholder="Select file"
                disabled
              />
            </div>
            <button class="uk-button uk-button-default">Add</button>
          </div>
        </form>
      </div>
    </div>
    <% } %>
  </div>
</div>
<% } else { %>
<div
  class="
    uk-section uk-section-muted uk-section-statistics uk-section-large
    borderBottom
  "
>
  <div class="uk-container">
    <%- include('../partials/errors.ejs'); %>
    <h4 class="uk-text-uppercase uk-text-center uk-margin-top-large tagline1">
      Images
    </h4>
    <hr class="uk-divider-icon" />
    <div
      class="
        uk-child-width-1-1
        uk-child-width-1-3@s
        uk-grid-small
        uk-margin-large-top
        uk-margin-large-bottom
      "
      uk-grid
    >
      <div>
        <% if(entry.cover != undefined) { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-media-top entryimg">
            <img src="<%- entry.cover %>" alt="cover" />
          </div>
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/admincreate/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="cover"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button type="submit" class="uk-button uk-button-default">
                  Replace
                </button>
              </div>
            </form>
          </div>
        </div>
        <% } else { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/admincreate/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="cover"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select cover image"
                    disabled
                  />
                </div>
                <button type="submit" class="uk-button uk-button-default">
                  Add
                </button>
              </div>
            </form>
          </div>
        </div>
        <% } %>
      </div>
      <!-- 2 -->
      <div>
        <% if(entry.image1 != undefined) { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-media-top entryimg">
            <img src="<%- entry.image1 %>" alt="cover" />
          </div>
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/admincreate/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image1"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Replace</button>
              </div>
            </form>
          </div>
        </div>
        <% } else { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/admincreate/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image1"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Add</button>
              </div>
            </form>
          </div>
        </div>
        <% } %>
      </div>
      <!-- 3 -->
      <div>
        <% if(entry.image2 != undefined) { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-media-top entryimg">
            <img src="<%- entry.image2 %>" alt="cover" />
          </div>
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/admincreate/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image2"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Replace</button>
              </div>
            </form>
          </div>
        </div>
        <% } else { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/admincreate/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image2"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Add</button>
              </div>
            </form>
          </div>
        </div>
        <% } %>
      </div>
      <!-- 4 -->
      <div>
        <% if(entry.image3 != undefined) { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-media-top entryimg">
            <img src="<%- entry.image3 %>" alt="cover" />
          </div>
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/admincreate/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image3"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Replace</button>
              </div>
            </form>
          </div>
        </div>
        <% } else { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/admincreate/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image3"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Add</button>
              </div>
            </form>
          </div>
        </div>
        <% } %>
      </div>
      <!-- 5 -->
      <div>
        <% if(entry.image4 != undefined) { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-media-top entryimg">
            <img src="<%- entry.image4 %>" alt="cover" />
          </div>
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/admincreate/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image4"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Replace</button>
              </div>
            </form>
          </div>
        </div>
        <% } else { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/admincreate/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image4"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Add</button>
              </div>
            </form>
          </div>
        </div>
        <% } %>
      </div>
      <!-- 6 -->
      <div>
        <% if(entry.image5 != undefined) { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-media-top entryimg">
            <img src="<%- entry.image5 %>" alt="cover" />
          </div>
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/admincreate/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image5"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Replace</button>
              </div>
            </form>
          </div>
        </div>
        <% } else { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/admincreate/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image5"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Add</button>
              </div>
            </form>
          </div>
        </div>
        <% } %>
      </div>
      <!-- 7 -->
      <div>
        <% if(entry.image6 != undefined) { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-media-top entryimg">
            <img src="<%- entry.image6 %>" alt="cover" />
          </div>
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/admincreate/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image6"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Replace</button>
              </div>
            </form>
          </div>
        </div>
        <% } else { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/admincreate/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image6"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Add</button>
              </div>
            </form>
          </div>
        </div>
        <% } %>
      </div>
      <!-- 8 -->
      <div>
        <% if(entry.image7 != undefined) { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-media-top entryimg">
            <img src="<%- entry.image7 %>" alt="cover" />
          </div>
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/admincreate/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image7"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Replace</button>
              </div>
            </form>
          </div>
        </div>
        <% } else { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/admincreate/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image7"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Add</button>
              </div>
            </form>
          </div>
        </div>
        <% } %>
      </div>
      <!-- 9 -->
      <div>
        <% if(entry.image8 != undefined) { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-media-top entryimg">
            <img src="<%- entry.image8 %>" alt="cover" />
          </div>
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/admincreate/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image8"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Replace</button>
              </div>
            </form>
          </div>
        </div>
        <% } else { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/admincreate/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image8"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Add</button>
              </div>
            </form>
          </div>
        </div>
        <% } %>
      </div>
      <!-- 10 -->
      <div>
        <% if(entry.image9 != undefined) { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-media-top entryimg">
            <img src="<%- entry.image9 %>" alt="cover" />
          </div>
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/admincreate/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image9"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Replace</button>
              </div>
            </form>
          </div>
        </div>
        <% } else { %>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
            <form
              action="/admincreate/myentries/entry/editattach/<%- entry._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input
                    type="file"
                    accept="image/png, image/jpeg"
                    name="image9"
                    required
                  />
                  <input
                    class="uk-input uk-form-width-medium"
                    type="text"
                    placeholder="Select file"
                    disabled
                  />
                </div>
                <button class="uk-button uk-button-default">Add</button>
              </div>
            </form>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
<!-- menu -->
<div
  class="
    uk-section uk-section-muted uk-section-statistics uk-section-large
    borderBottom
  "
>
  <div class="uk-container">
    <%- include('../partials/errors.ejs'); %>
    <h4 class="uk-text-uppercase uk-text-center uk-margin-top-large tagline1">
      Menu
    </h4>
    <hr class="uk-divider-icon" />
    <% if(entry.menu != undefined) { %>
    <div class="uk-card uk-card-hover uk-card-default">
      <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
        <a href="<%- entry.menu %>" target="_blank"
          >Your current menu<span> <%- entry.menu %></span></a
        >
        <form
          action="/admincreate/myentries/entry/editattach/<%- entry._id %>"
          method="POST"
          enctype="multipart/form-data"
        >
          <input type="hidden" name="_method" value="PUT" />
          <div class="uk-margin" uk-margin>
            <div uk-form-custom="target: true">
              <input
                type="file"
                accept="application/pdf"
                name="menu"
                required
              />
              <input
                class="uk-input uk-form-width-medium"
                type="text"
                placeholder="Select file"
                disabled
              />
            </div>
            <button class="uk-button uk-button-default">Replace</button>
          </div>
        </form>
      </div>
    </div>
    <% } else { %>
    <div class="uk-card uk-card-hover uk-card-default">
      <div class="uk-card-footer uk-text-left uk-text-default uk-text-bold">
        <p>Add One</p>
        <form
          action="/admincreate/myentries/entry/editattach/<%- entry._id %>"
          method="POST"
          enctype="multipart/form-data"
        >
          <input type="hidden" name="_method" value="PUT" />
          <div class="uk-margin" uk-margin>
            <div uk-form-custom="target: true">
              <input
                type="file"
                accept="application/pdf"
                name="menu"
                required
              />
              <input
                class="uk-input uk-form-width-medium"
                type="text"
                placeholder="Select file"
                disabled
              />
            </div>
            <button class="uk-button uk-button-default">Add</button>
          </div>
        </form>
      </div>
    </div>
    <% } %>
  </div>
</div>

<% } %>
