<%- include('../partials/adminNavbar.ejs'); %>

<ul class="uk-breadcrumb uk-margin-large-left">
  <li>
    <a
      href="/admincreate/myentries/entry/<%- review.post._id.toString() %>"
      class="uk-button uk-text-danger uk-text-bold uk-button-text noSelect"
      >Cancel Editing</a
    >
  </li>
  <!-- <li>
      <a href="/admincreate" class="uk-button uk-button-text noSelect"
        >Create Email Updates</a
      >
    </li>
    <li>
      <a href="/admincreate/entry" class="uk-button uk-button-text noSelect"
        >Create New Entry</a
      >
    </li>
    <li>
      <a href="/admincreate/allentries" class="uk-button uk-button-text noSelect"
        >All Entries</a
      >
    </li>
    <li>
      <a
        href="/admincreate/reviewEntries"
        class="uk-button uk-button-text noSelect"
        >Review Entries</a
      >
    </li>
    <li>
      <a href="/admincreate/myentries" class="uk-button uk-button-text noSelect"
        >My Entries</a
      >
    </li> -->
</ul>

<!-- form -->
<div
  class="
    uk-section uk-section-muted uk-section-create-uk-section-large
    borderBottom
  "
>
  <div class="uk-container">
    <div
      class="
        uk-child-width-1-1
        uk-grid-small
        uk-grid-match
        uk-margin-large-top
        uk-margin-large-bottom
      "
      uk-grid
    >
      <div>
        <div class="uk-card uk-card-custom uk-card-hover uk-card-default">
          <div class="uk-card-header">
            <h3 class="uk-card-title uk-text-center">Edit review</h3>
          </div>
          <div class="uk-card-body">
            <form
              action="/userreviews/edit/<%- review._id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="_method" value="PUT" />
              <div class="uk-form-stacked">
                <div class="uk-margin-small">
                  <div class="uk-form-control">
                    <input
                      required
                      type="number"
                      name="userScore"
                      min="1"
                      max="5"
                      step="any"
                      placeholder="Initial score out of 5"
                      id="rating"
                      class="uk-input uk-form-large noSelect"
                      value="<%- review.userScore %>"
                    />
                  </div>
                  <div class="uk-form-control">
                    <textarea required class="uk-textarea" name="userComment">
 <%- review.userComment %></textarea
                    >
                  </div>
                </div>
                <div class="uk-marign-medium uk-text-center">
                  <div class="uk-form-control">
                    <button
                      type="submit"
                      class="uk-button uk-button-custom noSelect"
                    >
                      Post review
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/modals.ejs'); %>
<footer class="uk-section uk-section-black">
  <div class="uk-text-center@s" uk-grid>
    <div class="uk-width-2-4@s uk-text-center">
      <img
        class="uk-border-circle"
        width="200"
        height="200"
        src="/img/livelybrand.png"
      />
    </div>
    <%- helper.getFooter(user) %>

    <div class="uk-width-4-4@s uk-text-center uk-light uk-text-center@s">
      <a
        href="https://twitter.com/GettingLively"
        class="uk-button uk-button-text noSelect uk-margin-medium-right"
        ><span uk-icon="icon: twitter; ratio: 2"></span
      ></a>

      <a
        href="https://www.instagram.com/gettinglively/"
        class="uk-button uk-button-text noSelect"
        ><span uk-icon="icon: instagram; ratio: 2"></span
      ></a>
    </div>
  </div>

  <div class="uk-margin-medium-top">
    <p class="uk-text-medium uk-text-center uk-margin-medium">
      © 2021 Getting Lively. All Rights Reserved
    </p>
  </div>
</footer>
