<%- include('../partials/adminNavbar.ejs'); %>

<ul class="uk-breadcrumb uk-margin-large-left">
  <li>
    <a href="/admin/customers" class="active uk-button uk-button-text noSelect"
      >Customers</a
    >
  </li>
  <li>
    <a href="/admin/business" class="active uk-button uk-button-text noSelect"
      >Business Members</a
    >
  </li>
  <li>
    <a href="/admincreate" class="active uk-button uk-button-text noSelect"
      >Create</a
    >
  </li>
  <li>
    <a
      href="/admin/managelistings"
      class="active uk-button uk-button-text noSelect"
      >Manage Listings</a
    >
  </li>
  <li>
    <a href="/admin/allplans" class="active uk-button uk-button-text noSelect"
      >All Plans</a
    >
  </li>
  <li>
    <a
      href="/admin/allpayments"
      class="active uk-button uk-button-text noSelect"
      >All Payments</a
    >
  </li>
  <li>
    <a
      href="/admin/allvouchers"
      class="active uk-button uk-button-text noSelect"
      >All Vouchers</a
    >
  </li>
  <li>
    <a
      href="/admin/changepassword"
      class="uk-button active uk-button-text noSelect"
      ><span class="noSelect"></span>Change Password</a
    >
  </li>
  <li>
    <a
      href="/users/logout"
      class="uk-button active uk-button-text noSelect"
      uk-toggle="target: #userslogout"
      ><span class="noSelect"></span>Logout</a
    >
  </li>
</ul>

<div
  class="
    uk-section uk-section-muted uk-section-statistics uk-section-large
    borderBottom
  "
>
  <div class="uk-container">
    <%- include('../partials/errors.ejs'); %>
    <h4 class="uk-text-uppercase uk-text-center uk-margin-top-large tagline1">
      Pricing and Plans
    </h4>
    <p class="uk-text-meta uk-text-center uk-text-medium">
      Promote your listings/entries by selecting pricing and plans.
    </p>
    <hr class="uk-divider-icon" />
    <div
      class="uk-child-width-1-1 uk-margin-large-top uk-margin-large-bottom"
      uk-grid
    >
      <div>
        <div class="uk-card uk-card-hover uk-card-default uk-plan-card">
          <div class="uk-card-body uk-text-center">
            <h1 class="uk-card-title">Premier Listing</h1>
            <p class="uk-text-center">
              <span
                >Pay
                <span class="uk-text-bold">&#163; <%- amount_premier %> </span
                >and get listed at the top for a week.</span
              >
            </p>
          </div>
          <div
            class="
              uk-card-footer
              uk-card-default
              uk-text-left
              uk-text-default
              uk-text-bold
            "
          >
            <div class="uk-clearfix">
              <% if(entry.premier == "basic") { %>
              <a
                href="/admin/pricingandplans/premier/<%- entry._id %>"
                class="
                  uk-button uk-button-custom
                  paylink
                  uk-float-right
                  noSelect
                "
                >Activate</a
              >
              <% } else if(entry.premier == "renew") { %>
              <a
                href="/admin/pricingandplans/premier/<%- entry._id %>"
                class="
                  uk-button uk-button-custom
                  paylink
                  uk-float-right
                  noSelect
                "
                >Activate</a
              >
              <% } else { %>
              <a
                href="/admin/pricingandplans/premier/<%- entry._id %>"
                class="
                  uk-button uk-button-custom
                  paylink
                  uk-float-right
                  noSelect
                "
                >Deactivate</a
              >
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-hover uk-card-default uk-plan-card">
          <div class="uk-card-body uk-text-center">
            <h1 class="uk-card-title">Advanced Premier Listing</h1>
            <p class="uk-text-center">
              <span
                >Pay
                <span class="uk-text-bold"
                  >&#163; <%- amount_advancedpremier %> </span
                >and get listed at the top above the list for a week.</span
              >
            </p>
          </div>
          <div
            class="
              uk-card-footer
              uk-card-default
              uk-text-left
              uk-text-default
              uk-text-bold
            "
          >
            <div class="uk-clearfix">
              <% if(entry.advance == "basic") { %>
              <a
                href="/admin/pricingandplans/advancepremier/<%- entry._id %>"
                class="
                  uk-button uk-button-custom
                  paylink
                  uk-float-right
                  noSelect
                "
                >Activate</a
              >
              <% } else if(entry.advance == "renew") { %>
              <a
                href="/admin/pricingandplans/advancepremier/<%- entry._id %>"
                class="
                  uk-button uk-button-custom
                  paylink
                  uk-float-right
                  noSelect
                "
                >Activate</a
              >
              <% } else { %>
              <a
                href="/admin/pricingandplans/advancepremier/<%- entry._id %>"
                class="
                  uk-button uk-button-custom
                  paylink
                  uk-float-right
                  noSelect
                "
                >Deactivate</a
              >
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-hover uk-card-default uk-plan-card">
          <div class="uk-card-body uk-text-center">
            <h1 class="uk-card-title">Promoted Premier Spot</h1>
            <p class="uk-text-center">
              <span
                >Pay
                <span class="uk-text-bold">&#163; <%- amount_promoted %> </span
                >and get a better page on the webiste with detailed review of
                your listing.</span
              >
            </p>
          </div>
          <div
            class="
              uk-card-footer
              uk-card-default
              uk-text-left
              uk-text-default
              uk-text-bold
            "
          >
            <div class="uk-clearfix">
              <% if(entry.promoted == "basic") { %>
              <a
                href="/admin/pricingandplans/promoted/<%- entry._id %>"
                class="
                  uk-button uk-button-custom
                  paylink
                  uk-float-right
                  noSelect
                "
                >Activate</a
              >
              <% } else if(entry.promoted == "renew") { %>
              <a
                href="/admin/pricingandplans/promoted/<%- entry._id %>"
                class="
                  uk-button uk-button-custom
                  paylink
                  uk-float-right
                  noSelect
                "
                >Activate</a
              >
              <% } else { %>
              <a
                href="/admin/pricingandplans/promoted/<%- entry._id %>"
                class="
                  uk-button uk-button-custom
                  paylink
                  uk-float-right
                  noSelect
                "
                >Deactivate</a
              >
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/modals.ejs'); %>
<footer class="uk-section uk-section-black">
  <div class="uk-text-center@s" uk-grid>
    <div class="uk-width-2-4@s uk-text-center">
      <img
        class="uk-border-circle"
        width="200"
        height="200"
        src="/img/livelybrand.png"
      />
    </div>
    <%- helper.getFooter(user) %>

    <div class="uk-width-4-4@s uk-text-center uk-light uk-text-center@s">
      <a
        href="https://twitter.com/GettingLively"
        class="uk-button uk-button-text noSelect uk-margin-medium-right"
        ><span uk-icon="icon: twitter; ratio: 2"></span
      ></a>

      <a
        href="https://www.instagram.com/gettinglively/"
        class="uk-button uk-button-text noSelect"
        ><span uk-icon="icon: instagram; ratio: 2"></span
      ></a>
    </div>
  </div>

  <div class="uk-margin-medium-top">
    <p class="uk-text-medium uk-text-center uk-margin-medium">
      © 2021 Getting Lively. All Rights Reserved
    </p>
  </div>
</footer>
