<%- include('../partials/businessNavbar.ejs'); %>

<ul class="uk-breadcrumb uk-margin-large-left">
  <li>
    <a href="/business" class="uk-button uk-button-text noSelect">My Entries</a>
  </li>
  <li>
    <a href="/business/createentries" class="uk-button uk-button-text noSelect"
      >Create Entries</a
    >
  </li>

  <li>
    <a
      href="/business/entries/pendingpayment"
      class="uk-button uk-button-text noSelect"
      >Pending Payments</a
    >
  </li>
  <li>
    <a href="/business/reviewentries" class="uk-button uk-button-text noSelect"
      >Entries Awaiting Approval</a
    >
  </li>
  <li>
    <a href="/business/managelisting" class="uk-button uk-button-text noSelect"
      >Manage Listings</a
    >
  </li>
  <li>
    <a
      href="/business/entrieswithplans"
      class="uk-button uk-button-text noSelect"
      >Plans</a
    >
  </li>
  <li>
    <a href="/business/mypayments" class="uk-button uk-button-text noSelect"
      >My Payments</a
    >
  </li>
  <li>
    <a
      href="/business/changepassword"
      class="uk-button active uk-button-text noSelect"
      ><span class="noSelect"></span>Change Password</a
    >
  </li>
  <li>
    <a
      href="/users/logout"
      class="uk-button active uk-button-text noSelect"
      uk-toggle="target: #userslogout"
      ><span class="noSelect"></span>Logout</a
    >
  </li>
</ul>

<div
  class="
    uk-section uk-section-muted uk-section-statistics uk-section-large
    borderBottom
  "
>
  <div class="uk-container">
    <%- include('../partials/errors.ejs'); %>
    <h4 class="uk-text-uppercase uk-text-center uk-margin-top-large tagline1">
      Entry Creation Payments
    </h4>
    <p class="uk-text-meta uk-text-center uk-text-medium">
      Your payments are displayed here.
    </p>
    <hr class="uk-divider-icon" />
    <div class="uk-overflow-auto">
      <table
        class="
          uk-table
          uk-table-striped
          uk-table-hover
          uk-table-middle
          uk-table-divider
        "
      >
        <thead>
          <tr>
            <th class="uk-width-small">Name</th>
            <th>Payment type</th>
            <th>Amount</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% if(entryPayments.length > 0) { %> <%
          entryPayments.forEach((entryPayment)=> { %>
          <tr>
            <td><%- entryPayment.name %></td>
            <td>Entry Creation</td>
            <td>&#163; 1</td>
            <td><%-entryPayment.entrypaymentCreationDate %></td>
            <td>
              <a
                class="uk-button uk-button-text uk-text-primary noSelect"
                href="/business/mypayments/carddetails/entry/<%- entryPayment._id %>"
                >Details</a
              >
            </td>
          </tr>
          <% }) %> <% } else { %>

          <p class="uk-text-center uk-text-large info-text uk-text-warning">
            No Payments
          </p>

          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- offer creation -->
<div
  class="
    uk-section uk-section-muted uk-section-statistics uk-section-large
    borderBottom
  "
>
  <div class="uk-container">
    <%- include('../partials/errors.ejs'); %>
    <h4 class="uk-text-uppercase uk-text-center uk-margin-top-large tagline1">
      Offer Creation Payments
    </h4>
    <p class="uk-text-meta uk-text-center uk-text-medium">
      Your payments are displayed here.
    </p>
    <hr class="uk-divider-icon" />
    <div class="uk-overflow-auto">
      <table
        class="
          uk-table
          uk-table-striped
          uk-table-hover
          uk-table-middle
          uk-table-divider
        "
      >
        <thead>
          <tr>
            <th class="uk-width-small">Name</th>
            <th>Payment type</th>
            <th>Amount</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% if(offerPayments.length > 0) { %> <%
          offerPayments.forEach((offerPayment)=> { %>
          <tr>
            <td><%- offerPayment.offername %></td>
            <td>Offers/e-vouchers Creation</td>
            <td>&#163; <%- offerPayment.offeramount %></td>
            <td><%- offerPayment.offerPaymentCreationDate %></td>
            <td>
              <a
                class="uk-button uk-button-text uk-text-primary noSelect"
                href="/business/mypayments/carddetails/offer/<%- offerPayment._id %>"
                >Details</a
              >
            </td>
          </tr>
          <% }) %> <% } else { %>

          <p class="uk-text-center uk-text-large info-text uk-text-warning">
            No Payments
          </p>

          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- plan -->
<div
  class="
    uk-section uk-section-muted uk-section-statistics uk-section-large
    borderBottom
  "
>
  <div class="uk-container">
    <%- include('../partials/errors.ejs'); %>
    <h4 class="uk-text-uppercase uk-text-center uk-margin-top-large tagline1">
      Plan Payments
    </h4>
    <p class="uk-text-meta uk-text-center uk-text-medium">
      Your payments are displayed here.
    </p>
    <hr class="uk-divider-icon" />
    <p class="uk-text-center uk-text-bold">Premier Plan Payments</p>
    <div class="uk-overflow-auto">
      <table
        class="
          uk-table
          uk-table-striped
          uk-table-hover
          uk-table-middle
          uk-table-divider
        "
      >
        <thead>
          <tr>
            <th class="uk-width-small">Name</th>
            <th>Plan type</th>
            <th>Amount</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% if(entryPayments.length > 0) { %> <%
          entryPayments.forEach((entryPayment)=> { %> <% if(entryPayment.premier
          != 'basic') { %>
          <tr>
            <td><%- entryPayment.name %></td>
            <td>Premier</td>
            <td>&#163; 50</td>
            <td><%- (entryPayment.premierplanpaymentCreationDate) %></td>
            <td>
              <a
                class="uk-button uk-button-text uk-text-primary noSelect"
                href="/business/mypayments/carddetails/premier/<%- entryPayment._id %>"
                >Details</a
              >
            </td>
          </tr>
          <% } %> <% }) %> <% } else { %>

          <p class="uk-text-center uk-text-large info-text uk-text-warning">
            No Payments
          </p>

          <% } %>
        </tbody>
      </table>
    </div>
    <p class="uk-text-center uk-text-bold">Advance Premier Plan Payments</p>
    <div class="uk-overflow-auto">
      <table
        class="
          uk-table
          uk-table-striped
          uk-table-hover
          uk-table-middle
          uk-table-divider
        "
      >
        <thead>
          <tr>
            <th class="uk-width-small">Name</th>
            <th>Plan type</th>
            <th>Amount</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% if(entryPayments.length > 0) { %> <%
          entryPayments.forEach((entryPayment)=> { %> <% if(entryPayment.advance
          != 'basic') { %>
          <tr>
            <td><%- entryPayment.name %></td>
            <td>Advance Premier</td>
            <td>&#163; 100</td>
            <td><%- (entryPayment.advanceplanpaymentCreationDate) %></td>
            <td>
              <a
                class="uk-button uk-button-text uk-text-primary noSelect"
                href="/business/mypayments/carddetails/advance/<%- entryPayment._id %>"
                >Details</a
              >
            </td>
          </tr>
          <% } %> <% }) %> <% } else { %>

          <p class="uk-text-center uk-text-large info-text uk-text-warning">
            No Payments
          </p>

          <% } %>
        </tbody>
      </table>
    </div>
    <p class="uk-text-center uk-text-bold">Promoted Premier Plan Payments</p>
    <div class="uk-overflow-auto">
      <table
        class="
          uk-table
          uk-table-striped
          uk-table-hover
          uk-table-middle
          uk-table-divider
        "
      >
        <thead>
          <tr>
            <th class="uk-width-small">Name</th>
            <th>Plan type</th>
            <th>Amount</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% if(entryPayments.length > 0) { %> <%
          entryPayments.forEach((entryPayment)=> { %> <%
          if(entryPayment.promoted != 'basic') { %>
          <tr>
            <td><%- entryPayment.name %></td>
            <td>Promoted</td>
            <td>&#163; 200</td>
            <td><%- (entryPayment.promotedplanpaymentCreationDate) %></td>
            <td>
              <a
                class="uk-button uk-button-text uk-text-primary noSelect"
                href="/business/mypayments/carddetails/promoted/<%- entryPayment._id %>"
                >Details</a
              >
            </td>
          </tr>
          <% } %> <% }) %> <% } else { %>

          <p class="uk-text-center uk-text-large info-text uk-text-warning">
            No Payments
          </p>

          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- footer -->
<%- include('../partials/modals.ejs'); %>
<footer class="uk-section uk-section-black">
  <div class="uk-text-center@s" uk-grid>
    <div class="uk-width-2-4@s uk-text-center">
      <img
        class="uk-border-circle"
        width="200"
        height="200"
        src="/img/livelybrand.png"
      />
    </div>
    <div class="uk-width-2-4@s uk-light uk-text-center@s uk-margin-small-left">
      <a
        href="/docs/termsandconditions.html"
        target="blank"
        class="uk-button uk-button-text uk-margin-medium-right noSelect"
        >Terms and Conditions</a
      >

      <a
        href="/docs/privacypolicy.html"
        target="blank"
        class="uk-button-text uk-button noSelect uk-margin-medium-right"
        >Privacy Policy</a
      >
      <a
        href="/docs/termsofuse.html"
        target="blank"
        class="uk-button-text uk-button noSelect uk-margin-medium-right"
        >Terms Of Use</a
      >
    </div>

    <div class="uk-width-4-4@s uk-text-center uk-light uk-text-center@s">
      <a
        href="https://twitter.com/GettingLively"
        class="uk-button uk-button-text noSelect uk-margin-medium-right"
        ><span uk-icon="icon: twitter; ratio: 2"></span
      ></a>

      <a
        href="https://www.instagram.com/gettinglively/"
        class="uk-button uk-button-text noSelect"
        ><span uk-icon="icon: instagram; ratio: 2"></span
      ></a>
    </div>
  </div>

  <div class="uk-margin-medium-top">
    <p class="uk-text-medium uk-text-center uk-margin-medium">
      © 2021 Getting Lively. All Rights Reserved
    </p>
  </div>
</footer>
