<%- include('../partials/businessNavbar.ejs'); %>

<ul class="uk-breadcrumb uk-margin-large-left">
  <li>
    <a href="/business" class="uk-button uk-button-text noSelect">My Entries</a>
  </li>
  <li>
    <a href="/business/createentries" class="uk-button uk-button-text noSelect"
      >Create Entries</a
    >
  </li>

  <li>
    <a
      href="/business/entries/pendingpayment"
      class="uk-button uk-button-text noSelect"
      >Pending Payments</a
    >
  </li>
  <li>
    <a href="/business/reviewentries" class="uk-button uk-button-text noSelect"
      >Entries Awaiting Approval</a
    >
  </li>
  <li>
    <a href="/business/managelisting" class="uk-button uk-button-text noSelect"
      >Manage Listings</a
    >
  </li>
  <li>
    <a href="/business/mypayments" class="uk-button uk-button-text noSelect"
      >My Payments</a
    >
  </li>
</ul>

<div
  class="
    uk-section uk-section-muted uk-section-statistics uk-section-large
    borderBottom
  "
>
  <div class="uk-container">
    <%- include('../partials/errors.ejs'); %>
    <h4 class="uk-text-uppercase uk-text-center uk-margin-top-large tagline1">
      Pricing and Plans
    </h4>
    <p class="uk-text-meta uk-text-center uk-text-medium">
      Promote your listings/entries by selecting pricing and plans.
    </p>
    <hr class="uk-divider-icon" />
    <div
      class="uk-child-width-1-1 uk-margin-large-top uk-margin-large-bottom"
      uk-grid
    >
      <div>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-body uk-text-center">
            <h1 class="uk-card-title">Premier Listing</h1>
            <p class="uk-text-center">
              <span
                >Pay
                <span class="uk-text-bold">&#163; <%- amount_premier %> </span
                >and get listed at the top for a week.</span
              >
            </p>
          </div>
          <div
            class="
              uk-card-footer
              uk-card-default
              uk-text-left
              uk-text-default
              uk-text-bold
            "
          >
            <div class="uk-clearfix">
              <% if(entry.listing == "basic") { %>
              <a
                href="/business/pricingandplans/premier/<%- entry._id %>"
                class="
                  uk-button uk-button-custom
                  paylink
                  uk-float-right
                  noSelect
                "
                >Purchase</a
              >
              <% } else if(entry.listing == "renew") { %>
              <a
                href="/business/pricingandplans/premier/<%- entry._id %>"
                class="
                  uk-button uk-button-custom
                  paylink
                  uk-float-right
                  noSelect
                "
                >Renew</a
              >
              <% } else { %>
              <button
                class="uk-button uk-button-default uk-float-right noSelect"
                disabled
              >
                Plan Already Exists
              </button>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-body uk-text-center">
            <h1 class="uk-card-title">Advanced Premier Listing</h1>
            <p class="uk-text-center">
              <span
                >Pay
                <span class="uk-text-bold"
                  >&#163; <%- amount_advancedpremier %> </span
                >and get listed at the top above the list for a week.</span
              >
            </p>
          </div>
          <div
            class="
              uk-card-footer
              uk-card-default
              uk-text-left
              uk-text-default
              uk-text-bold
            "
          >
            <div class="uk-clearfix">
              <% if(entry.listing == "basic") { %>
              <a
                href="/business/pricingandplans/advancepremier/<%- entry._id %>"
                class="
                  uk-button uk-button-custom
                  paylink
                  uk-float-right
                  noSelect
                "
                >Purchase</a
              >
              <% } else if(entry.listing == "renew") { %>
              <a
                href="/business/pricingandplans/advancepremier/<%- entry._id %>"
                class="
                  uk-button uk-button-custom
                  paylink
                  uk-float-right
                  noSelect
                "
                >Renew</a
              >
              <% } else { %>
              <button
                class="uk-button uk-button-default uk-float-right noSelect"
                disabled
              >
                Plan Already Exists
              </button>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-hover uk-card-default">
          <div class="uk-card-body uk-text-center">
            <h1 class="uk-card-title">Promoted Premier Spot</h1>
            <p class="uk-text-center">
              <span
                >Pay
                <span class="uk-text-bold">&#163; <%- amount_promoted %> </span
                >and get a better page on the webiste with detailed review of
                your listing.</span
              >
            </p>
          </div>
          <div
            class="
              uk-card-footer
              uk-card-default
              uk-text-left
              uk-text-default
              uk-text-bold
            "
          >
            <div class="uk-clearfix">
              <% if(entry.listing == "basic") { %>
              <a
                href="/business/pricingandplans/promoted/<%- entry._id %>"
                class="
                  uk-button uk-button-custom
                  paylink
                  uk-float-right
                  noSelect
                "
                >Purchase</a
              >
              <% } else if(entry.listing == "renew") { %>
              <a
                href="/business/pricingandplans/promoted/<%- entry._id %>"
                class="
                  uk-button uk-button-custom
                  paylink
                  uk-float-right
                  noSelect
                "
                >Renew</a
              >
              <% } else { %>
              <button
                class="uk-button uk-button-default uk-float-right noSelect"
                disabled
              >
                Plan Already Exists
              </button>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer -->
<%- include('../partials/modals.ejs'); %>
<footer class="uk-section uk-section-black">
  <div class="uk-text-center@s" uk-grid>
    <div class="uk-width-2-4@s uk-text-center">
      <img
        class="uk-border-circle"
        width="200"
        height="200"
        src="/img/livelybrand.png"
      />
    </div>
    <div class="uk-width-2-4@s uk-light uk-text-center@s uk-margin-small-left">
      <a
        href="/docs/termsandconditions.html"
        target="blank"
        class="uk-button uk-button-text uk-margin-medium-right noSelect"
        >Terms and Conditions</a
      >

      <a
        href="/docs/privacypolicy.html"
        target="blank"
        class="uk-button-text uk-button noSelect uk-margin-medium-right"
        >Privacy Policy</a
      >
      <a
        href="/docs/termsofuse.html"
        target="blank"
        class="uk-button-text uk-button noSelect uk-margin-medium-right"
        >Terms Of Use</a
      >
    </div>

    <div class="uk-width-4-4@s uk-text-center uk-light uk-text-center@s">
      <a
        href="https://twitter.com/GettingLively"
        class="uk-button uk-button-text noSelect uk-margin-medium-right"
        ><span uk-icon="icon: twitter; ratio: 2"></span
      ></a>

      <a
        href="https://www.instagram.com/gettinglively/"
        class="uk-button uk-button-text noSelect"
        ><span uk-icon="icon: instagram; ratio: 2"></span
      ></a>
    </div>
  </div>

  <div class="uk-margin-medium-top">
    <p class="uk-text-medium uk-text-center uk-margin-medium">
      © 2021 Getting Lively. All Rights Reserved
    </p>
  </div>
</footer>
