<%- include('./partials/navbar.ejs'); %>
<!-- <ul class="uk-breadcrumb uk-margin-large-left">
   <li>
    <a href="/places/bars" class="uk-button uk-button-text noSelect">Bars</a>
  </li>
</ul> -->


<div
  class="
    uk-section uk-section-muted uk-section-entrydetail uk-section-large
    borderBottom
  "
>
  <div class="uk-container">
    <%- include('./partials/errors.ejs'); %>
    <h4 class="uk-text-uppercase uk-text-center uk-margin-top-large tagline1">
        <a class="noSelect uk-text-secondary" href="<%- entry.user.websiteurl %>" target="blank"><%- entry.name %></a>
    </h4>
    <hr />
    <div class="uk-clearfix uk-text-center">
      <span
        class="
          uk-label uk-float-center uk-label-danger uk-text-medium uk-text-bold
        "
        ><%- entry.typeOfVenue %></span
      >
      <span
        class="
          uk-label uk-float-center uk-label-primary uk-text-medium uk-text-bold
        "
        ><%- entry.bookingStatus %></span
      >
      <span
        class="
          uk-label uk-float-center uk-label-success uk-text-medium uk-text-bold
        "
        ><%- allReview.length != 0 ? 'User reviews' + ' ' + '-' + ' ' +  Math.round(totalScore/allReview.length) + '/' + '5' : 'No reviews' %>
      </span>
    </div>
    <hr class="uk-divider-icon" />

    <div>
      <div class="uk-slider-container-offset uk-margin-large-top" uk-slider>
        <div
          class="uk-position-relative uk-visible-toggle uk-light"
          tabindex="-1"
        >
          <ul class="uk-slider-items uk-child-width-1-1 uk-grid">
            <% if(entry.cover != undefined) { %>
                <li class="entryslider">
                  <div class="uk-card-media-top">
                    <img src="<%- entry.cover %>" alt="<%- entry.cover %>" />
                  </div>
                </li>
                <% } %> <% if(entry.image1 != undefined) { %>
                <li class="entryslider">
                  <div class="uk-card-media-top">
                    <img src="<%- entry.image1 %>" alt="<%- entry.cover %>" />
                  </div>
                </li>
                <% } %> <% if(entry.image2 != undefined) { %>
                <li class="entryslider">
                  <div class="uk-card-media-top">
                    <img src="<%- entry.image2 %>" alt="<%- entry.cover %>" />
                  </div>
                </li>
                <% } %> <% if(entry.image3 != undefined) { %>
                <li class="entryslider">
                  <div class="uk-card-media-top">
                    <img src="<%- entry.image3 %>" alt="<%- entry.cover %>" />
                  </div>
                </li>
                <% } %> <% if(entry.image4 != undefined) { %>
                <li class="entryslider">
                  <div class="uk-card-media-top">
                    <img src="<%- entry.image4 %>" alt="<%- entry.cover %>" />
                  </div>
                </li>
                <% } %> <% if(entry.image5 != undefined) { %>
                <li class="entryslider">
                  <div class="uk-card-media-top">
                    <img src="<%- entry.image5 %>" alt="<%- entry.cover %>" />
                  </div>
                </li>
                <% } %> <% if(entry.image6 != undefined) { %>
                <li class="entryslider">
                  <div class="uk-card-media-top">
                    <img src="<%- entry.image6 %>" alt="<%- entry.cover %>" />
                  </div>
                </li>
                <% } %> <% if(entry.image7 != undefined) { %>
                <li class="entryslider">
                  <div class="uk-card-media-top">
                    <img src="<%- entry.image7 %>" alt="<%- entry.cover %>" />
                  </div>
                </li>
                <% } %> <% if(entry.image8 != undefined) { %>
                <li class="entryslider">
                  <div class="uk-card-media-top">
                    <img src="<%- entry.image8 %>" alt="<%- entry.cover %>" />
                  </div>
                </li>
                <% } %> <% if(entry.image9 != undefined) { %>
                <li class="entryslider">
                  <div class="uk-card-media-top">
                    <img src="<%- entry.image9 %>" alt="<%- entry.cover %>" />
                  </div>
                </li>
                <% } %>
          </ul>
          <a
            class="uk-position-center-left uk-position-small uk-hidden-hover"
            href="#"
            uk-slidenav-previous
            uk-slider-item="previous"
          ></a>
          <a
            class="uk-position-center-right uk-position-small uk-hidden-hover"
            href="#"
            uk-slidenav-next
            uk-slider-item="next"
          ></a>
        </div>
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
      </div>
    </div>
    
    <div class="uk-card uk-card-custom uk-card-hover uk-card-default">
      <div class="uk-card-body">
        <ul uk-tab>
          <li><a href="#">Description</a></li>
          <li><a href="#">Hours</a></li>
          <li><a href="#">Location</a></li>
          <li><a href="#">Menus</a></li>
          <li><a href="#">Offers</a></li>
          <% if(detailed.length > 0) { %> <% detailed.forEach((detail)=> { %> <%
            if(detail.post._id.toString() == entry._id.toString()) { %>
            <li>
              <a href="#" class="uk-text-bold uk-text-success"
                >Detailed review from GETTING LIVELY</a
              >
            </li>
            <% } %> <% }) %> <% } %>
        </ul>

        <ul
          class="uk-switcher uk-margin"
          uk-switcher="animation: uk-animation-fade"
        >
          <li>
            <p class="uk-text-break"><%- entry.desc %></p>
          </li>
          <li>
            <table
              class="uk-table uk-table-striped uk-table-middle uk-table-divider"
            >
              <thead>
                <tr>
                  <th>Day</th>
                  <th>Open</th>
                  <th>Close</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Monday</th>
                  <td><%- entry.monopening ? entry.monopening : "Closed" %></td>
                  <td><%- entry.monclose ? entry.monclose : "Closed" %></td>
                </tr>
                <tr>
                  <th>Tuesday</th>
                  <td><%- entry.tueopening ? entry.tueopening : "Closed" %></td>
                  <td><%- entry.tueclose ? entry.tueclose : "Closed" %></td>
                </tr>
                <tr>
                  <th>Wednesday</th>
                  <td><%- entry.wedopening ? entry.wedopening : "Closed" %></td>
                  <td><%- entry.wedclose ? entry.wedclose : "Closed" %></td>
                </tr>
                <tr>
                  <th>Thursday</th>
                  <td><%- entry.thuopening ? entry.thuopening : "Closed" %></td>
                  <td><%- entry.thuclose ? entry.thuclose : "Closed" %></td>
                </tr>
                <tr>
                  <th>Friday</th>
                  <td><%- entry.friopening ? entry.friopening : "Closed" %></td>
                  <td><%- entry.friclose ? entry.friclose : "Closed" %></td>
                </tr>
                <tr>
                  <th>Saturday</th>
                  <td><%- entry.satopening ? entry.satopening : "Closed" %></td>
                  <td><%- entry.satclose ? entry.satclose : "Closed" %></td>
                </tr>
                <tr>
                  <th>Sunday</th>
                  <td><%- entry.sunopening ? entry.sunopening : "Closed" %></td>
                  <td><%- entry.sunclose ? entry.sunclose : "Closed" %></td>
                </tr>
              </tbody>
            </table>
          </li>
          <li>
            <h1 class="uk-card-title">Address</h1>
            <p class="uk-text-break uk-margin" id="address">
              <span
                class="uk-margin-medium-right uk-text-success"
                uk-icon="icon: location; ratio: 2"
              ></span
              ><%- entry.location + ',' + ' ' + entry.city + ',' + ' ' + entry.postcode %>
            </p>
            <div id="map-canvas" style="width: 100%; height: 400px"></div>
          </li>
          <li>
            <% if(entry.menu) { %> 
                <span
              class="uk-text-primary"
              uk-icon="icon:  file-pdf; ratio: 2"
            ></span>
            <a
              href="<%- entry.menu %>"
              target="_blank"
              class="uk-button uk-button-muted"
              ><%- entry.name + " " + "Menu" %></a
            >
                 <% } else { %>
                    <p class="uk-text-center uk-text-large uk-text-warning">No Menus</p>
                    <% } %>
          </li>
          <li><h1 class="uk-card-title uk-text-center">All Offers</h1>
            <div class="
            uk-child-width-1-1
            uk-child-width-1-2@s
            uk-grid-small
           
            uk-margin-large-top
            uk-margin-large-bottom
          "
          uk-grid>
          <% if(allOffers.length > 0) { %> <%
            allOffers.forEach((allOffer)=> { %>
                <div class="uk-card uk-card-hover uk-card-secondary uk-light">
                    <div class="uk-card-body">
                        <h1 class="uk-card-title uk-text-center"><%- allOffer.offername %></h1>
                        <p class="uk-text-break"><%- allOffer.offerdesc %></p>
                        <p><%- 'Offer price:' + ' ' + '&#163; ' + allOffer.offeramount %></p>
                        <a href="/payment/<%- allOffer._id %>" target="_blank"  id="purchase" class="uk-button uk-button-custom noSelect">Purchase</a>
                        
                    </div>
                    
                    
      

                </div>
                
                <% }) %> <% } else { %>
                    <p class="uk-text-center uk-text-large uk-text-warning">No Offers</p>
                    <% } %>
            </div></li>
            <% if(detailed.length > 0) { %> <% detailed.forEach((detail)=> { %> <%
                if(detail.post._id.toString() == entry._id.toString()) { %>
                <li>
                  <p class="uk-text-bold uk-text-center uk-text-large">
                    <%- detail.title %>
                  </p>
                  <hr class="uk-divider-icon" />
                  <p class="uk-text-default uk-text-break review-text">
                    <%- detail.desc %>
                  </p>
                </li>
                <% } %> <% }) %> <% } %>
        </ul>
      </div>
    </div>

    <!-- form -->
    <div class="uk-card uk-card-hover uk-card-default uk-margin-top">
      <div class="uk-card-body">
        <% if(user && user.role == 'customer') { %>
        <h1 class="uk-card-title uk-text-center">Add reviews</h1>
        <form action="/places/userreviews/<%- entry._id %>" method="POST">
          <div class="uk-form-stacked">
            <div class="uk-margin-small">
              <div class="uk-form-control">
                <input
                  required
                  type="number"
                  name="userScore"
                  min="1"
                  max="5"
                  placeholder="Initial score out of 5"
                  id="rating"
                  class="uk-input uk-form-large noSelect"
                />
              </div>
              <div class="uk-form-control">
                <textarea
                  required
                  class="uk-textarea"
                  name="userComment"
                ></textarea>
              </div>
            </div>
            <div class="uk-marign-medium uk-text-center">
              <div class="uk-form-control">
                <button
                  type="submit"
                  class="uk-button uk-button-custom noSelect"
                >
                  Post review
                </button>
              </div>
            </div>
          </div>
        </form>
        <hr class="uk-divider-icon" />
      <% } %>
        <p class="uk-text-lead uk-text-bold uk-text-center@s">
          Total Reviews: <%- allReview.length %>
        </p>

        <p class="uk-text-headline uk-text-secondary uk-text-center@s">
          <%- allReview.length != 0 ? 'Total Score:'+ ' ' +  Math.round(totalScore/allReview.length)+ '/'+ '5': 'Total Score:' + ' ' + '0' %>
        </p>
        <p class="uk-text-meta uk-text-success uk-text-normal uk-text-center@s">
          Based on <%- allReview.length%> customer reviews
        </p>
        <ul class="uk-comment-list">
          <% allReview.forEach(review => { %>
          <li>
            <article
              class="
                uk-comment
                uk-visible-toggle
                uk-padding-small
                uk-box-shadow-small
              "
              tabindex="-1"
            >
              <header class="uk-comment-header uk-position-relative">
                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                  <div class="uk-width-expand">
                    <p class="uk-comment-title uk-margin-remove">
                      <p class="uk-margin-medium-right"><%- review.user.name %></p>
                      <span
                        class="
                          uk-text-bold uk-text-success uk-marign-medium-left
                        "
                        >gave - <%- review.userScore %> / 5</span
                      >
                    </p>
                    <p class="uk-comment-meta uk-margin-remove-top">
                      <a class="uk-link-reset" href="#"
                        ><%- helper.formatDate(review.createdAt, 'LL') %></a
                      >
                    </p>
                  </div>
                </div>
              </header>
              <div class="uk-comment-body">
                <p class="uk-text-break"><%- review.userComment %></p>
              </div>
            </article>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- footer -->
<%- include('./partials/modals.ejs'); %>
<footer class="uk-section uk-section-black">
  <div class="uk-text-center@s" uk-grid>
    <div class="uk-width-2-4@s uk-text-center">
      <img
        class="uk-border-circle"
        width="200"
        height="200"
        src="/img/livelybrand.png"
      />
    </div>
    <%- helper.getFooter(user) %>

    <div class="uk-width-4-4@s uk-text-center uk-light uk-text-center@s">
      <a
        href="https://twitter.com/GettingLively"
        target="blank"
        class="uk-button uk-button-text noSelect uk-margin-medium-right"
        ><span uk-icon="icon: twitter; ratio: 2"></span
      ></a>

      <a
        href="https://www.instagram.com/gettinglively/"
        target="blank"
        class="uk-button uk-button-text noSelect"
        ><span uk-icon="icon: instagram; ratio: 2"></span
      ></a>
    </div>
  </div>

  <div class="uk-margin-medium-top">
    <p class="uk-text-medium uk-text-center uk-margin-medium">
      © 2021 Getting Lively. All Rights Reserved
    </p>
  </div>
</footer>
